<div class="relative w-full h-52 p-6 shadow-lg rounded-lg bg-white border-2 border-orange-100 hover:shadow-xl transform hover:scale-105 transition duration-200">
  <div class="flex flex-col items-center space-y-3">
      {% if resto_entry.visited %}
          <div class="text-center">
              <p class="text-xl font-semibold text-orange-700">{{ resto_entry.restaurant_wanted }}</p>
              <p class="text-lg text-gray-500">Telah dikunjungi</p>
          </div>
      {% endif %}
      <div class="flex space-x-4 mt-4">
          {% if resto_entry.visited %}
              <a href="{% url 'wishlistresto:not_visited_resto' resto_entry.pk %}" class="bg-orange-600 hover:bg-orange-700 transition duration-200 text-white py-2 px-4 rounded-md text-sm shadow-md">
                  Batalkan Kunjungan
              </a>
          {% endif %}
          <a href="{% url 'wishlistresto:delete_wishlist' resto_entry.pk %}" class="bg-red-500 hover:bg-red-600 transition duration-200 text-white py-2 px-4 rounded-md text-sm shadow-md">
              Hapus Wishlist
          </a>
      </div>
  </div>
</div>
