{% extends 'base.html' %}
{% load static %}

{% block meta %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wishlist Restoran</title>
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
</head>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %} 

<p class="items-center text-center text-2xl text-orange-700 font-bold">Daftar Wishlist Restoran</p>
<p></p>
<div class="items-center">
    <a href="{% url 'wishlistresto:add_to_wishlist' %}" class="items-center">
        <button class="bg-[#ff611d] p-2 rounded-md text-white text-sm">Add Wishlist</button>
    </a>
</div>

{% if not wishlist_restaurants.is_exist and not visited_restaurants.is_exist %}
    <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
        <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
        <p class="text-center text-gray-600 mt-4">Belum ada wishlist restoran yang kamu tambahkan dan kamu kunjungi.</p>
    </div>
{% else %}
<div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
    {% for resto_entry in wishlist_restaurants %}
        {% include 'card_wishlist.html' with resto_entry=resto_entry %}
    {% endfor %}
</div>

<p class="items-center text-center text-2xl text-orange-700 font-bold">Restoran yang Telah Dikunjungi</p>
<div class="columns-1 sm:columns-2 lg:columns-3 gap-6 space-y-6 w-full">
    {%for resto_entry in wishlist_restaurants%}
        {%if resto_entry.visited == True%}
            {% include 'card_dikunjungi.html' with resto_entry=resto_entry %}
        {% endif %}
    {% endfor %}
</div>
{% endif %} 

{% comment %} <div id="wishlist_resto_cards"></div> {% endcomment %}

<br>
{% endblock content %}
{% comment %} 
<script>
    async function getWishlistResto(){
        return fetch("{% url 'wishlistresto:show_json'%}").then((res) => res.json())
    }

    async function refreshWishlistResto() {
        document.getElementById("wishlist_resto_cards").innerHTML = "";
        document.getElementById("wishlist_resto_cards").className = "";
        const restoEntries = await getWishlistResto();
        let htmlString = "";
        let classNameString = "";

        if (restoEntries.length === 0){
            classNameString = "flex flex-col items-center justify-center min-h-[24rem] p-6";
            htmlString = `
            <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
                <img src="{% static 'image/sedih-banget.png' %}" alt="Sad face" class="w-32 h-32 mb-4"/>
                <p class="text-center text-gray-600 mt-4">Belum ada wishlist retoran yang kamu tambahkan.</p>
            </div>
            `;
        }
        else{
            classNameString = "relative w-full h-48 border-2 border-[#c15628] rounded-3xl bg-white overflow-hidden"
        }
    }
</script> {% endcomment %}


{% comment %} 
<form method="POST" action="">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Cari</button>
</form>

{% if error_message %}
    <p style="color: red;">{{ error_message }}</p>  <!-- Menampilkan pesan kesalahan -->
{% endif %}


<table>
    <thead>
        <tr>
            <th>Nama Restoran</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for resto in restoran %}
        <tr>
            <td>{{ resto.restaurant }}</td>
            <td>{{ resto.visited|yesno:"Telah Dikunjungi,Tidak Dikunjungi" }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">Tidak ada restoran yang ditemukan.</td>
        </tr>
        {% endfor %}
    </tbody>
</table>




<h2>Wishlist (Belum Dikunjungi)</h2>
<table>
    <tr>
        <th>Nama Restoran</th>
        <th>Aksi</th>
    </tr>
    {% for resto in wishlist_restaurants %}
    <tr>
        <td>{{ resto.restaurant }}</td>
        <td>
            <a href="?mark_visited={{ resto.id }}">Mark as Visited</a>
        </td>
    </tr>
    {% endfor %}
</table>

<h2>Restoran yang Sudah Dikunjungi</h2>
<table>
    <tr>
        <th>Nama Restoran</th>
    </tr>
    {% for resto in visited_restaurants %}
    <tr>
        <td>{{ resto.restaurant }}</td>
    </tr>
    {% endfor %}
</table> 
{% endblock content %}  {% endcomment %}
