{% extends 'base.html' %}
{% block content %}

<label for="nama">Nama Restoran: </label>
<input type="text"><br>

<label for="jenis">Jenis Makanan: </label>
<select>
    <option value="" disabled selected>Pilih Jenis Makanan</option>
    <option>Pilihan 1</option>
    <option>Pilihan 2</option>
    <option>Pilihan 3</option>
</select><br>

<label for="rating">Rating: </label>
<select>
    <option value="" disabled selected>Pilih Rating</option>
    <option>bintang 0</option>
    <option>bintang 1</option>
    <option>bintang 2</option>
    <option>bintang 3</option>
    <option>bintang 4</option>
    <option>bintang 5</option>
</select>


{% endblock content %}