{% extends 'base.html' %}
{%load static%}

{% block meta %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Reviews</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}

<body class="bg-gray-100 h-screen">
    <div class="w-[87.5%] mx-auto h-auto mt-10 p-6 bg-white rounded-lg shadow-md">
        <h1 class="text-4xl font-bold text-center p-4">{{ restaurant.restaurant }}</h1>
        <div class="flex justify-center mt-4 text-xl">
            <span class="text-yellow-500">★</span>
            <span class="text-black ml-1">{{ restaurant.rating }}/5.0</span>
        </div>
        <div class="flex justify-center p-8">
            <a href="{% url 'review:add_review' restaurant.id %}" 
               class="bg-orange-500 hover:bg-orange-800 text-white font-bold py-2 px-4 rounded-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105">
                Add Review
            </a>
        </div>
        {% if not restaurant_reviews %}
        <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
            <p class="text-center text-gray-600 mt-4">Belum ada data review.</p>
        </div>
        {% else %}
        <div class="space-y-6 w-full">
            {% for review in restaurant_reviews %}
                {% include 'card_review.html' with review=review %}
            {% endfor %}
        </div>        
        {% endif %}
    </div>
</body>
{% endblock content %}
