{% extends 'base.html' %}
{% load static %}

{% block meta %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Reviews</title>
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/dompurify@3.1.7/dist/purify.min.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
<body style="background-color: #d98934;">
    <div id="ilham_h1" class="flex justify-center p-16">
        <h1 class="text-5xl font-extrabold text-white tracking-wide uppercase bg-orange-700 py-4 px-8 rounded-lg shadow-lg transform transition duration-300 hover:scale-110">
            Restaurant Reviews
        </h1>
    </div>

    <div class="flex justify-center mb-6">
        <form method="GET" action="{% url 'review:show_main' %}" class="flex w-full max-w-md">
            <input type="text" name="query" placeholder="Search restaurants..." class="flex-grow p-2 rounded-l-lg focus:outline-none">
            <button type="submit" class="bg-orange-600 text-white p-2 rounded-r-lg hover:bg-orange-700">
                Search
            </button>
        </form>
    </div>

    {% if not restaurants %}
    <div class="flex flex-col items-center justify-center min-h-[24rem] p-6">
        <img src="{% static 'image/sedih-banget.png' %}" alt="No Reviews" class="w-32 h-32 mb-4"/>
        <p class="text-center text-gray-600 mt-4">No restaurant data</p>
    </div>
    {% else %}
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6 w-full px-8 py-2">
        {% for restaurant in restaurants %}
            {% include 'card_restaurant.html' with restaurant=restaurant %}
        {% endfor %}
    </div>
    {% endif %}
</body>
{% endblock content %}
{% comment "" %}test{% endcomment %}
